@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;1,400;1,600&family=Open+Sans:ital,wght@0,300;0,400;0,600;1,400&display=swap" rel="stylesheet");


@import url("components/top-bar.css");
@import url("components/banner.css");
@import url("components/container.css");
@import url("components/propertiesflex.css");
@import url("components/footer.css");




body{
	background-color: white;
	color:black;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	text-justify: justify;
	font-weight: lighter;
}

h1,h2,h3{
	font-family: 'Cormorant Garamond', serif;
	text-justify: justify;
	text-justify:center;
	font-weight:100;
	letter-spacing: 1px;
}

a {
  text-decoration: none;
}

a:hover{
  color:#D5343A;
}


/*MEDIA QUARIESSS*/

@media (max-width: 960px) {
	/* For a screen <960px, this CSS will be read*/
	.container {
		width:700px;
	}
}

@media (max-width: 720px) {
	/* For a screen <7200px, this CSS will be read*/
	.container {
		width:500px;
	}
}

@media (max-width: 540px) {
	/* For a screen <540px, this CSS will be read*/
	.container {
		width:300px;
	}
}

