.container h2{
  letter-spacing: 10px;
  color: #B49B6D;
  font-family: 'Playfair Display', serif;
  text-align:center;

}

.container {
  background-color: white;
  text-align:center;
  padding:20px;
  font-size: 20px;
}

 .card{
  display:grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 10px;
  margin:10px 0 0 0 ;
 }

 .card-tag h3{
  font-style:italic;
  font-weight: lighter;
  font-family: 'Playfair Display', serif;
  padding:75px 250px 80px 50px;
  font-size:20px;
  letter-spacing: 2px;
  line-height: 50px;
  text-justify: justify;
 }

.card-tag img{
  width:450px;
  height:300px;
  border-radius: 2px;
  margin: 20px 0px 60px 200px;
 }
